:global {
  body[data-theme='light'] {
    --settings-color: white;
    --settings-font-color: var(--gray-500);
    --settings-border-color: black;
  }
  body[data-theme='dark'] {
    --settings-color: var(--gray-500);
    --settings-font-color: var(--white-100);
    --settings-border-color: none;
  }
}

.addMovie {
  width: 50%;
  background-color: var(--settings-color);
  margin: 0 auto;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  padding: 50px 150px 50px 50px;
  color: var(--settings-font-color);
  border: 1px solid black;
  .addMovieTitle {
    font-size: 45px;
    margin-bottom: 50px;
  }

  .addMovieForm {
    display: flex;
    flex-direction: column;
    gap: 50px;
    .addMovieMain {
      flex-basis: 60%;
      .addMovieMainInputs {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        .addMovieInputWrapper {
          margin-top: 25px;
          .addMovieLabel {
            display: block;
            font-size: 20px;
            margin-bottom: 6px;
          }
          .addMovieInput {
            outline: none;
            border: 1px solid var(--login-border-color);
            padding: 8px 8px;
            border-radius: 5px;
            font-size: 18px;
            transition: border 0.05s ease;
            &:focus {
              border: 2px solid #337fc3;
            }
          }
        }
      }
      .addMovieMainFiles {
        display: flex;
        gap: 50px;

        .addMovieFileInputWrapper {
          display: flex;
          flex-direction: column;
          gap: 30px;
          margin-bottom: 40px;
          .addMovieImg {
            width: 90px;
            height: 90px;
            object-fit: cover;
            border-radius: 50%;
          }
          .addMovieFileLabel {
            font-size: 24px;
            transition: transform 0.3s ease, color 0.3s ease;
            &:hover {
              transform: scale(1.1);
              color: #337fc3;
            }
          }
        }
      }

      .addMovieRadioWrapper {
        display: flex;
        gap: 40px;
        margin-top: 50px;
        .addMovieRadioInput {
          label {
            margin-left: 10px;
          }
        }
      }
    }

    .addMovieFormButton {
      font-family: 'Poppins', sans-serif;
      width: 200px;
      margin-top: 40px;
      padding: 6px 12px;
      cursor: pointer;
      border: none;
      outline: none;
      font-size: 16px;
      font-weight: 500;
      border-radius: 5px;
      transition: all 0.2s ease;
      background-color: #337fc3;
      color: white;
      &:hover {
        transform: scale(1.05);
        filter: brightness(0.9);
      }
    }
  }
}
