@import-normalize;
@import 'react-notifications/lib/notifications.css';

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --main-color: #337fc3;
  --button-light-color: #e5e0e0;
  --gray-200: rgb(208, 208, 208);
  --gray-300: rgb(164, 164, 164);
  --gray-400: #292a2b;
  --gray-500: #141414;
  --white-100: white;
  --white-200: #f6f8ff;
  --black: rgb(11, 11, 11);
}

body[data-theme='light'] {
  --homepage-color: var(--white-200);
}
body[data-theme='dark'] {
  --homepage-color: var(--black);
}

.homepage {
  background-color: var(--homepage-color);
  padding-bottom: 40px;
}

.adminpage {
  background-color: var(--homepage-color);
  padding: 40px 0;
  height: 100vh;
}

.moviepage {
  background-color: var(--homepage-color);
}
.searchpage {
  background-color: var(--homepage-color);
  padding: 40px 0;
}
.userpage {
  background-color: var(--homepage-color);
  height: 100vh;
  padding-top: 50px;
}

.watchpage {
  height: calc(100vh - 351px);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--homepage-color);
}

.video-container {
  position: relative;
  height: 100%;
}

.video {
  height: 100%;
}

.back-arrow {
  position: absolute;
  top: 2%;
  padding: 20px;
  background-color: white;
  left: -2%;
  color: black;
  font-size: 45px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 50;
}

a {
  color: unset;
  text-decoration: unset;
}

.notification-container {
  font-family: 'Poppins', sans-serif;
  top: unset;
  bottom: 3%;
  right: 1%;
}
