:global {
  --search-button-color: var(--button-light-color);
  --search-main-color: var(--main-color);
  body[data-theme='light'] {
    --search-color: var(--white-100);
    --search-main-text-color: var(--gray-500);
    --search-border-color: var(--gray-500);
  }
  body[data-theme='dark'] {
    --search-color: var(--gray-500);
    --search-main-text-color: var(--white-100);
    --search-border-color: var(--white-100);
  }
}

.searchMovies {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 80%;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  color: var(--search-main-text-color);
  background-color: var(--search-color);

  .searchMoviesFiltersWrapper {
    padding: 140px 70px 100px 75px;
    position: relative;
    .searchMoviesFiltersTitle {
      font-size: 50px;
    }
    .searchMoviesFiltersRemove {
      padding-top: 20px;
      display: flex;
      gap: 15px;
    }
    .searchMoviesFilters {
      position: sticky;
      top: 30px;
      .searchMoviesFilterTitle {
        margin-top: 80px;
        margin-bottom: 15px;
        font-size: 26px;
      }
    }
  }

  .searchMoviesListWrapper {
    padding: 50px 70px 100px 50px;
    .searchMoviesListTitle {
      font-size: 50px;
      margin-bottom: 40px;
    }

    .searchMoviesCatsWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2px solid var(--search-border-color);
      padding-bottom: 15px;
      .searchMoviesCats {
        display: flex;
        gap: 60px;
        font-size: 22px;
        .searchMoviesCat {
          cursor: pointer;
          .searchMoviesCatTitle {
            &:hover {
              text-decoration: underline;
              color: #337fc3;
            }
          }
          .searchMoviesCatTotal {
            margin-top: 6px;
          }
          &:hover {
            font-size: 25px;
          }
        }
      }
    }
  }
  select {
    font-family: inherit;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    color: var(--search-color);
    background-color: var(--search-border-color);
  }
}
.dynamic {
  height: 20px;
  width: 100%;
  background-color: chocolate;
}
