@import '../../index.scss';
:global {
  body[data-theme='light'] {
    --search-color: var(--white-100);
    --search-main-text-color: var(--gray-500);
    --search-secondary-text-color: var(--gray-400);
    --search-border-color: var(--gray-500);
    --search-button-color: var(--button-light-color);
  }
  body[data-theme='dark'] {
    --search-color: var(--gray-500);
    --search-main-text-color: var(--white-100);
    --search-secondary-text-color: var(--gray-200);
    --search-border-color: var(--white-100);
    --search-button-color: var(--button-light-color);
  }
}

.searchMoviesListItem {
  margin-top: 30px;
  border-top: 1px solid var(--search-border-color);
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  @include tablet {
    flex-direction: column;
  }
  &:first-child {
    border-top: none;
  }
  .searchMoviesListItemMain {
    display: flex;
    align-items: flex-start;

    .searchMovieListItemMask {
      position: relative;
      cursor: pointer;
      width: 150px;
      height: 220px;
      transition: transform 0.5s ease;
      &:hover {
        transform: rotateY(180deg);
        filter: opacity(0.8);
      }
    }
    .searchMoviesListItemImg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 3px;
      @include phone {
        width: 120px;
      }
    }
    .searchMoviesListItemMainText {
      margin-left: 30px;
      .searchMoviesListItemTitle {
        font-size: 22px;
        font-weight: 600;
        cursor: pointer;
        transition: transform 0.2s ease;
        &:hover {
          transform: scale(1.05);
          text-decoration: underline;
        }
      }
      .searchMoviesListItemAlt {
        font-weight: 400;
        margin: 16px 0;
        color: var(--search-secondary-text-color);
      }
      .searchMoviesListItemCountry {
        position: relative;
        color: var(--search-secondary-text-color);
        &::after {
          content: '';
          width: 4px;
          height: 4px;
          display: inline-block;
          vertical-align: middle;
          margin: 0 10px;
          background-color: var(--search-secondary-text-color);
          border-radius: 50%;
        }
        @include laptop {
          &::after {
            content: none;
          }
        }
      }
      .searchMoviesListItemGenres {
        display: inline-block;
        @include laptop {
          display: block;
        }
        .searchMoviesListItemGenre {
          color: var(--search-secondary-text-color);
          &:after {
            content: '';
            height: 14px;
            vertical-align: middle;
            width: 0.5px;
            background-color: aliceblue;
            display: inline-block;
            margin: 0 10px;
          }
          &:last-child::after {
            content: none;
          }
        }
      }
      .searchMoviesListItemCreator {
        color: var(--search-secondary-text-color);
        margin-left: 15px;
        @include laptop {
          display: block;
          margin-top: 10px;
          margin-left: 0;
        }
      }
      .searchMoviesListItemActors {
        color: var(--search-secondary-text-color);
        margin-top: 16px;
      }
    }
  }
  .searchMoviesListItemAdd {
    @include tablet {
      margin-top: 30px;
    }
    .searchMoviesListItemAddButtons {
      display: flex;
      align-items: center;
      height: fit-content;
      color: white;
      .searchMoviesListItemRating {
        padding: 10px 10px;
        border-radius: 100px;
        text-align: center;
      }

      .searchMoviesListItemWatchlistIcon {
        color: black;

        padding: 10px 10px;
        font-size: 20px;
        border-radius: 100px;
        transition: all 0.5s ease;
        &:last-child {
          background-color: rgb(229, 224, 224, 0.9);

          &:hover {
            transform: scale(1.05);
            background-color: var(--search-button-color);
            color: rgb(0, 0, 0, 1);
          }
        }
      }
    }
    .searchMoviesListItemUserRating {
      display: flex;
      justify-content: flex-end;
      margin-top: 30px;
      font-size: 16px;
      @include tablet {
        justify-content: flex-start;
        margin-top: 20px;
      }
      span {
        font-size: 18px;
        font-weight: 700;
        color: #337fc3;
      }
    }
  }
}
