@import '../../index.scss';
:global {
  body[data-theme='light'] {
    --sidebar-list-color: var(--white-200);
    --sidebar-list-text-color: var(--gray-500);
  }
  body[data-theme='dark'] {
    --sidebar-list-color: var(--black);
    --sidebar-list-text-color: var(--white-100);
  }
}
.sidebarList {
  color: var(--sidebar-list-text-color);
  flex: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 40px;
  padding-top: 30px;
  background-color: var(--sidebar-list-color);
  font-family: 'Poppins', sans-serif;
  @include phone {
    display: none;
  }
  .sidebarListWrapper {
    .sidebarListCategory {
      .sidebarListCategoryTitle {
        display: flex;
        justify-content: center;
      }
      .sidebarListWarning {
        font-size: 30px;
        font-family: inherit;
        max-width: 400px;
        text-align: center;
        line-height: 50px;
      }
    }
    .sidebarListLine {
      width: 80%;
      height: 2px;
      background-color: rgb(72, 71, 68);
      margin: 20px auto;
    }
  }
}
