@import '../../index.scss';

.singleMovie {
  min-height: calc(100vh - 85px);
  position: relative;
  color: white;
  font-family: 'Oswald', sans-serif;
  z-index: 1;
  .singleMovieImage {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.5);
  }

  .singleMovieWrapper {
    position: relative;
    z-index: 998;
    padding-left: 70px;
    padding-top: 150px;
    padding-bottom: 40px;
    height: 100%;
    width: 100%;
    @include tablet {
      padding-top: 25px;
    }
    @include landscapePhone {
      padding-left: 30px;
    }
    .singleMovieTitle {
      font-size: 110px;
      @include tablet {
        font-size: 80px;
      }
    }

    .singleMovieQuote {
      font-size: 50px;
      text-transform: uppercase;
      margin: 20px 0;
      font-weight: 600;
      @include tablet {
        margin-top: 0;
        font-size: 22px;
      }
    }

    .singleMovieDesc {
      font-size: 20px;
      font-weight: 300;
      max-width: 500px;
      line-height: 27px;
      margin-bottom: 30px;
      @include tablet {
        font-size: 18px;
      }
    }

    .singleMovieStars {
      margin-bottom: 35px;
      .singleMovieStar {
        font-size: 30px;
        color: #ffc700;
      }
    }

    .singleMovieButtonWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      font-size: 22px;
      background-color: #64b6d0;
      max-width: 200px;
      padding: 20px 0;
      border-radius: 41px;
      cursor: pointer;


      transition: all 0.2s ease-in;
      &:hover {
        transform: scale(1.05);
        filter: brightness(0.9);
      }
    }
    .singleMoviePopularTitle {
      font-size: 28px;
      margin: 40px 0 20px 0;
      @include tablet {
        margin-top: 20px;
      }
    }
    .singleMoviePopular {
      margin-left: -25px;
      margin-right: 25px;
      display: grid;
      gap: 20px;
      background: rgba(103, 101, 113, 0.34);
      border: 1px solid rgba(255, 255, 255, 0.14);
      backdrop-filter: blur(10px);
      padding: 20px;
      width: fit-content;
      height: fit-content;
      grid-template-columns: repeat(9, minmax(100px, 200px));
      grid-auto-rows: minmax(100px, 1fr);
      @include tablet {
        grid-template-columns: repeat(5, minmax(100px, 150px));
        grid-auto-rows: minmax(100px, 200px);
      }
      @include landscapePhone {
        margin-left: 0px;
      }
      @include phone {
        grid-template-columns: repeat(3, minmax(100px, 150px));
      }
      .singleMoviePopularItem {
        .singleMoviePopularImg {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 2px;
          transition: all 0.2s ease-in;
          cursor: pointer;
          &:hover {
            transform: scale(1.05);
            filter: brightness(0.85);
          }
        }
      }
    }
  }
}
